<!DOCTYPE html>
<html>
<head>
    <style>
        .background-container {
            background-image: url("https://cdn.discordapp.com/attachments/1093418895412576326/1212408711570788382/z5071407403811_6293090e7f74f549476cd87ea399d299.jpg?ex=65f1ba9a&is=65df459a&hm=eac1a8fa9ab1291e872d5ba69c313377151af9a4f5b61dfd44505fdc571d9081&");
            background-size: contain;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 30px; /* tăng padding */
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 400px; /* tăng độ rộng */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .login-form label {
            font-weight: bold;
            font-size: 1.2em; /* tăng kích thước chữ */
        }

        .login-form input[type="email"],
        .login-form input[type="password"] {
            margin-bottom: 20px; /* tăng khoảng cách */
            padding: 15px; /* tăng padding */
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 1.2em; /* tăng kích thước chữ */
        }

        .login-form input[type="submit"] {
            background-color: #535b63;
            color: #ffffff;
            padding: 15px; /* tăng padding */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2em; /* tăng kích thước chữ */
        }

        .message {
            color: red;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body class="background-container">
    <form class="login-form" action="/login" method="post">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" required placeholder="Enter email">
        <label for="passwd">Password</label>
        <input type="password" id="passwd" name="passwd" required placeholder="Password">
        <input type="submit" value="Đăng Nhập">
        <% if (msg) { %>
            <p class="message"><%= msg %></p>
        <% } %>
    </form>
</body>
</html>
