<%- include ('../inc/header') %>

<h1 class="alert alert-info">Thêm Size mới</h1>
<%= msg %>

<form action="/sizes/add" method="POST">
    <div class="form-group">
        <label for="sizeCode">Size Code:</label>
        <input type="text" class="form-control" id="sizeCode" name="sizeCode" required>
    </div>
    <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" class="form-control" id="color" name="color" required>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" required>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>

<%- include ('../inc/footer') %>
