<!-- views/size/sizeCodeList.ejs -->
<%- include ('../inc/header') %>

    <h4 class="alert alert-info">Danh sách Mã Kích Cỡ</h4>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSizeCodeModal">
        Thêm Mã Kích Cỡ
    </button>

    <% if(typeof(sizeCodes) !='undefined' && sizeCodes.length> 0) { %>
        <table class="table table-bordered">
            <tr>
                <th>Mã Kích Cỡ</th>
            </tr>

            <% sizeCodes.forEach((row)=> { %>
                <tr>
                    <td>
                        <%= row.sizeCode %>
                    </td>
                </tr>
                <% }) %>
        </table>
        <% } else { %>
            Không có dữ liệu
            <% } %>

                <div class="modal fade" id="addSizeCodeModal" tabindex="-1" aria-labelledby="addSizeCodeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addSizeCodeModalLabel">Thêm Mã Kích Cỡ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    <label for="sizeCode" class="form-label">Mã Kích Cỡ:</label>
                                    <input id="txtSizeCode" class="form-control" name="sizeCode" type="text">
                                    <label for="exampleInputEmail1" class="form-label fs-6 text-danger">
                                        <%=msg%>
                                    </label><br />
                                    <button type="submit"
                                        class="btn btn-primary my-auto position-relative start-50 translate-middle mt-3">Thêm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include ('../inc/footer') %>