<%- include('../inc/header.ejs') %>

<div style="display: flex;" class="alert alert-info">
    <div style="display: flex;">
      <h2>Lịch Sử Mua Hàng Của</h2>
    </div>
  </div>
<div style="display: flex;" class="grid gap-0 column-gap-3">
  <div style="flex-basis: 100%; margin-left: 0%;">
    <table class="table table-striped table-sm" style="flex-basis: 80%;">
      <thead>
        <tr class="table-dark">
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>
          <% transaction.cart.forEach(item => { %>
            <tr>
              <td><%= item.products.productName %></td>
              <td><%= item.soLuong %></td>
            </tr>
          <% }) %>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../inc/footer.ejs') %>
